streamlit
pandas
numpy
matplotlib
seaborn
sklearn
requests
train_test_split
StandardScaler
RandomForestClassifier
SVC
LogisticRegression
confusion_matrix
BytesIO
pandas
joblib
accuracy_score
recall_score
f1_score
classification_report